.card{
    border: 2px solid rgb(200, 200, 200);
    margin:20px;
    width:300px;
    border-radius:10px;
    padding:10px;
    background-color:rgb(219, 219, 219);
}
.ratingbox{
    border: 2px solid none;
    width:80px;
    height:40px;
    text-align: center;
    background-color:green;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 18px;
}
.deliverybtn{
    border: 2px solid none;
    width:150px;
    height:40px;
    text-align: center;
    background-color:rgb(174, 174, 174);
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 16px;
}
